<div
  class="container-fluid d-flex text-center align-items-center justify-content-center mx-auto" 
>
  <div class="col">
    <div class="col-lg-3 col-md-4 col-sm-6 mx-auto m-5" >
      <div class="card m-2" style="height: 35rem;">
        <div class="card-body mx-auto">
          <h4 class="m-2">{{one.title}}</h4>
          <img
            style="width: 70%; height: 50%"
            src="{{one.photo}}"
            alt="{{one._id}}"
          />
          <p class="m-2">Precio:${{one.price}}</p>
          <p>Stock: {{one.stock}}</p>
          <div class="d-flex flex-row justify-content-evenly align-items-center">
            <div class="input-group-prepend">
              <button
                type="button"
                class="btn btn-dark p-2" 
                style="width:2rem;"
                id="decrementBtn"
              >-</button>
            </div>
            {{! <input
                    type="text"
                    class="form-control text-center m-2"
                    id="itemCount"
                    value="0"
                    readonly
                  /> }}
            <span id="itemCount"></span>
            <div class="input-group-append">
              <button
                type="button"
                class="btn btn-dark p-2"
                style="width:2rem;"
                id="incrementBtn"
              >+</button>
            </div>
          </div>
          {{! <input class="m-2 p-2 text-center btn btn-primary bg-dark text-light" type="button" id="cart"
                            value="ADD TO CART" /> }}
          {{!-- <form
            action="/api/orders/{{one._id}}"
            method="POST"
          > --}}
          <button
            type="submit"
            class="m-3 p-2 text-center btn btn-primary bg-dark text-light"
            id="addCart"
          >ADD TO CART</button>
          {{! </form> }}
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/scripts/detail.js"></script>